.grid {
  width: 40px;
  height: 40px;
  border-radius: 1px;
  background-color: #98b719;
}

.enabled {
  background: url("./images/sauron.png") center center;
  background-color: #d12525;
  background-size: cover;
}

.active {
  background: url("./images/gandalf.png") center center; 
  background-size: cover;
  background-color: #98b719;
}
