.board {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline:none;
}

.row {
  display: flex;
  flex-direction: row;
}

.help {
  margin: 0 10px 10px;
  border-radius: 15px;
  height: 40px;
  width: 180px;
  font-size: 14px;
  border: solid grey 1px;
  outline:none;
}

.reset {
  margin: 0 10px 10px;
  border-radius: 15px;
  font-size: 14px;
  border: solid grey 1px;
  outline:none;
}

.container-button {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
