

.board {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline:none;
}

.row {
  display: flex;
  flex-direction: row;
}

.help {
  border-radius: 15px;
  font-size: 14px;
  border: solid cornflowerblue 2px;
  outline: none;
  background: transparent;
  color: cornflowerblue;
  font-weight: 800;
  padding: 10px;
  margin-right: 15px;
}

.reset {
  border-radius: 15px;
  font-size: 14px;
  border: solid cornflowerblue 2px;
  outline: none;
  background: transparent;
  color: cornflowerblue;
  font-weight: 800;
  padding: 10px;
}

.button.reset:hover {
  background: grey;
}

.container-button {
  display: flex;
  flex-direction: row;
  margin: 15px;
}
