.modal-container {
  background: #f4efef;
  position: fixed;
  top: 15%;
  margin-left: 18px;
  width: 300px;
  height: 450px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 2px cornflowerblue;
}

.container-button-close {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.button-close {
  border-radius: 15px;
  font-size: 12px;
  border: solid cornflowerblue 2px;
  outline: none;
  background: transparent;
  color: cornflowerblue;
  font-weight: 800;
  padding: 8px;
  margin: auto;
}

.icon-keyboard {
  height: 50px;
  margin: 5px;
}

.title {
  color: cornflowerblue;
  margin: auto;
}

.text {
  color:  #7c7676
}

.container-text {
  display: flex;
  flex-direction: row;
}
